<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center; color: red;">Cancelled request as been submitted successfully </h1>
    <h2 style="text-align: center; color:blue;">Your Cancellation be occur within 2hours </h2>
    <h3 style="text-align: center; color:green;">After 2hours You can Book a New Car</h2>
        <br>
        <br>
<center>
   <button style="width: 100px; height:50px ; border:3px solid navy; border-radius: 30px;  background-color:rgb(31, 215, 221); font-size: 20px; margin-bottom: 100px; "><a href="{% url 'index' %}" style="text-decoration: none; color: black;">Home</a></button>
</center>
</body>
</body>
</html>