<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPANY</title>
    <LINK rel="icon" href="../static/car_images/company_logo.png">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="indexheader">
        <h1>GSD CARS </h1>
   </div>
    
   <div class="nav">
    <ul>
     <li><a href="/profile">My profile</a></li>
    
     <li><a href="/contact">Contact Us</a></li>
     
     <li><a href="/companys">Book Now</a></li>
     
     <li><a href="{% url 'index' %}">Home</a></li>

     <div class="logo">
        <img src="../static/car_images/company_logo.png" style="width:70px; height:70px; border-radius: 70px; margin-left: 10px;">
         </div> 

    
    
       
     
    </ul>
</div>
<br>

    <h1 style="font-family:Arial, Helvetica, sans-serif; font-size: 40px; text-align:center;" >Choose Company</h1>
    <br>
    <br>
    <a href="/audi"><img src="../static/car_images/company_logos/audi.jpeg" height="200px" width="200px" style="margin-left: 150px;" ></a>

    <a href="/benz"><img src="../static/car_images/company_logos/benz.jpeg" height="200px" width="200px" style="margin-left: 150px;"></a>

    <a href="/bmw"><img src="../static/car_images/company_logos/bmw.jpeg" height="200px" width="200px" style="margin-left: 150px;"></a>

    <a href="/mahindra"><img src="../static/car_images/company_logos/mahinndra.png" height="200px" width="200px" style="margin-left: 150px;"></a>
    <br>
    <br>
    <a href="/kia"><img src="../static/car_images/company_logos/kia.png" height="200px" width="200px" style="margin-left: 150px;"></a>

    <a href="/maruthi"><img src="../static/car_images/company_logos/maruthi.png" height="200px" width="200px" style="margin-left: 150px;"></a>

    <a href="/renault"><img src="../static/car_images/company_logos/renault.jpeg" height="150px" width="300px" style="margin-left: 120px;"></a>

    <a href="/tata"><img src="../static/car_images/company_logos/tata.png" height="200px" width="200px" style="margin-left: 100px; ;"></a>
    <br>
    <br>
    <a href="/toyato"><img src="../static/car_images/company_logos/toyota.png" height="200px" width="200px" style="margin-left:  150px; ;"></a>

    <a href="/volkswagen"><img src="../static/car_images/company_logos/walksvagon.jpeg" height="200px" width="200px" style="margin-left: 150px;"></a>
</body>
</html>