<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>GSDCARS</title>
    <link rel="icon" href="../static/car_images/company_logo.png">
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <!-- ---------------------------headerstart--------------------------------- -->
    <div class="indexheader">
         <h1>GSD CARS </h1>
    </div>
   <!-- ------------------------------headerend---------------------------------------- -->


   <div class="nav">
       <ul>
        <li><a href="/profile">My profile</a></li>
       
        <li><a href="/contact">Contact Us</a></li>
        
        <li><a href="/companys">Book Now</a></li>
        
        <li><a href="{% url 'index' %}">Home</a></li>

      
       <div class="logo">
      <img src="../static/car_images/company_logo.png" style="width:70px; height:70px; border-radius: 70px; margin-left: 10px;">
       </div> 
       </ul>
   </div>
  
   <img src="../static/car_images/car_backgound.png" height="700px" width="100%" margin-top="0%">
  
   <br>
   <div class="flex-containere" style="margin-top:100px;">

    <div class="box1">
      <h2  style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: darkslategrey;">GSD is the best place to find self drive cars in Gudiyatham. We have 23 years of experience in the Car Rental Industry, which helped design packages and pricing plans for our customers. Our services extend to the whole of Tamil Nadu, with many locations under our belt. It makes the whole process very easy and smooth.
        The goal is to provide the best rental cars while taking care of the client and all of the demands correctly. In the end, you would be getting a car which gives a lot of value at a reasonable price.</h2>
    </div>

    <div class="box2">
      <img src="../static/car_images/car1.png" height="430px" width="550px">
    </div>
   </div>
    <br>
    <br>

    <div class="flex-containerf" style="margin-top:250px;">

      <div class="box1">
        <img src="../static/car_images/car2.png" height="430px" width="550px" >
      </div>
       
  
      <div class="box2">
        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: darkslategray;">
          Booking Process:Reservation: Bookings can be made through our website or over the phone. We recommend booking in advance to ensure availability, especially during peak travel seasons.
Confirmation: After booking, you will receive a confirmation email detailing your rental, including car type, rental period, and pickup/drop-off information.
<b style="color: red;">Payment offline Cash on Spot only..</b> The necessary details for the transaction will be provided at the time of booking.</h2>
        
      </div>
     </div>
    <br>
    <div class="flex-containerc" style="margin-top:500px;">

      <div class="box1">
        <h2  style="font-style: italic; color: cadetblue;">Make your advance reservation by call us or Email Us</h2>
      </div>

      <div class="box2">
        <h2 style="color: cadetblue;"> 24/7 Customer Services</h2> 
      </div>

      <div class="box3">
        <h2 style="font-style: italic; color: cadetblue;">We offer full price transparency and charge no hidden costs</h2>
      </div>
      <div class="box4">
        <h2 style="font-style: italic; color: cadetblue;">Drive the car with your family and friends and enjoy your memorable moments.</h2>
      </div>
    </div>
    <br>
    <hr style="margin-top: 100px;">

         
    <center style="margin-top:100px;">
    <h1>All Brands and Models</h1>
    <div style="height: 6px; width: 250px; background-color: darkcyan; border-radius: 10px;"></div>
    
    <p style=" width:80%; height: 300px; padding:100px; font-size: 20px;   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            background-color: #fff;">Onroadz, a self driven car rental service in Gudiyatham, offers affordable prices for our customers. Our Self Drive Cars in Gudiyatham for Rent price range varies between Rs.999/- to Rs.7000/- depending on the duration of the rental and the type of car selected. One of the benefits of choosing Onroadz is its unlimited kilometers option, which is also offered at an affordable rate. Onroadz provides a wide range of brand new cars, including the
      Audi A1, Audi A3, Audi Q4, Benz C-class, Benz CLA, Benz A-class, Benz GLC, BMW Z1, BMW X1, BMW 335, Mahindra Thar, Mahindra Scorpio, Mahindra SUV700, Mahindra Bolero, Kia sorento, Kia K5, Kia Niro, Maruthi Dzire, Maruthi Swift, Maruthi Spresso, Maruthi Fronix, Renault SUVComfort, Renault Zoe, Renault Twingo, Renault Symbol, Tata Punch, Tata Nano, Tata indigo, Tata safari, Toyato Indiga, Toyato Safari, Toyato Innova, Toyato Fortuner, 
      Toyato Landcriser, Volkswagen Virtus, Volkswagen Polo, Volkswagen Amarok, Volkswagen Bora, and many more.</p>
    </center>

  <br>
  <br>
  <br>
  <hr>
  <div class="map_contact">
  
  <div class="map">
  
    <h1>Location:</h1>
    <div style="height: 6px; width: 150px; background-color: darkgoldenrod; border-radius: 10px;"></div>
      <br>


    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.307567104307!2d78.88279117489269!3d12.952160387361422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad6cdf31e4a33f%3A0xe67e99bb7e1e6031!2sGovernment%20Thirumagal%20Mill&#39;s%20College.!5e0!3m2!1sen!2sin!4v1740635912782!5m2!1sen!2sin" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="contact">
    <h1>Contact Us:</h1>

    <div style="height: 6px; width: 180px; background-color: darkblue; border-radius: 10px; text-align: center;"></div>
    <br>
    <p style="font-size: 20px;"> We’d love to hear from you! Whether you have a question, feedback, or just want to say hello, feel free to reach out to us using any of the methods below.
      <br>
      Contact Details:
      <br>
      Phone:
      <br>
      📞 6382579595
      <br>
      Email: 📧 gsdcars@gmail.com
      <br>
      Address: 🏠 Gudiyatham Gandhi Nagar</p>
  </div>
  </div>
  <br>
  <div class="table-row" style="width: 300px; height: 200px;">
    <div><label style="color: darkgray; font-size: 20px;" >Review:</label></div>
    <div>
      {% for i in messages %}
      {% if 'success' in i.tags %}
      <p style="color: red">{{i}}</p>
      {% endif %}
      {% endfor %}
    </div>
</div>

  <br>
  <br>
  
  <br>
          <div class="flex-containerd">
          <div class="box1">
          <h2 style="color: green;">Whatsapp: 6382579595</h2>
          </div>
          <div class="box2">
          <h2 style="color: blue;">Contact: 6382579595</h2>
          </div>
          <div class="box3">
          <h2 style="color: rgb(216, 47, 47);">Email: gsdcars@gmail.com</h2>
          </div>

          </div>
        <hr>


          <br>

        <img src="../static/car_images/company_logos/audi.jpeg" height="120px" width="120px" style="margin-left:40px" >
        <img src="../static/car_images/company_logos/benz.jpeg" height="120px" width="120px" style="margin: 10px;">
        <img src="../static/car_images/company_logos/bmw.jpeg" height="120px" width="120px" style="margin: 10px;">
        <img src="../static/car_images/company_logos/kia.png" height="120px" width="120px" style="margin: 10px;">
        <img src="../static/car_images/company_logos/mahinndra.png" height="120px" width="120px" style="margin: 10px;">
        <img src="../static/car_images/company_logos/maruthi.png" height="130px" width="130px" style="margin: 10px;">
        <img src="../static/car_images/company_logos/renault.jpeg" height="100px" width="120px"style="margin: 10px;">
        <img src="../static/car_images/company_logos/tata.png" height="120px" width="120px" style="margin: 10px;">
        <img src="../static/car_images/company_logos/toyota.png" height="120px" width="120px">
        <img src="../static/car_images/company_logos/walksvagon.jpeg" height="120px" width="120px" style="margin: 10px;">
          <br>
        <div class="links">
          <a href="/terms_and_conditions" style="font-size: 25px; color: white; text-decoration: none;">Terms & Conditions</a>
          <br>
          <br>
          <a href="/contact" style="font-size: 25px; color: white; text-decoration: none;">Help</a>
          <br>
          <br>
          <a href="/privacy_policy" style="font-size: 25px; color: white;  text-decoration: none;">Privacy Policy</a>
          <br>
          <br>
          <a href="/aboutus" style="font-size: 25px; color:white; text-decoration: none;">About Us</a>
        </div>

<!-- ...................footerstart............................................... -->

  <div class="footer">
    <h3>@Copyrights © 2025 Monter Smart Drive Private Limited. All Rights Reserved.</h3>
</div> 
<!-- ...................................footerend...................................... -->
</body>
</html>

